<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=" http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style-accueil.css}">
    <title>GameEvent Accueil</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <img src="/images/logo_small.png" alt="logo_GameEvent">
            </li>
        </ul>
        <ul>
            <li>
                <a href="/login" class="gry_btn">Connection</a>
            </li>
            <li>
                <a href="/Signin" class="gry_btn">Inscription</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="get">
                    <a href="/login" class="gry_btn">Déconnection</a>
                </form>
            </li>
        </ul>
    </nav>
</header>

<div class="big-container">
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>01</h2>
                    <h3>Connectez<br/>vous</h3>
                    <p>Inscrivez-vous puis connectez-vous afin d'avoir accés aux fonctionnalités de GameEvent. Personnalisez votre profil</p>
                    <a href="#">Login</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>02</h2>
                    <h3>Créer votre groupe</h3>
                    <p>Il vous suffit de créer votre propre groupe d'amis, une fois créer vous pourrez ajouter vos jeux vidéo favoris à la liste !</p>
                    <a href="#">Créer mon groupe</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>03</h2>
                    <h3>Invitez vos amis</h3>
                    <p>Une fois votre groupe créer invitez-y vos amis. Ils pourront également ajouter des jeux vidéo à la liste des favoris du groupe</p>
                    <a href="#">Inviter mes amis</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2>04</h2>
                    <h3>Créer des Event</h3>
                    <p>Vous pourrez ensuite créer des Event pour votre groupe d'amis, séléctionnez la date, l'heure, la durée. Vos amis pourrons ensuite vous avertir qu'ils y participent !</p>
                    <a href="#">Créer un Event</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>