<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">


</head>

<body>

    <h1 class="h3 mb-3 font-weight-normal justify-content-center">Liste des jeux</h1>
    <a type="button" class="btn btn-secondary justify-content-center" href="/game/new">Créer un jeu</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col" ><a th:href="'/game/list-page-et-trie'">Titre</a></th>
        <th scope="col">Note</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Genre</th>
    </tr>

    </thead>
    <tbody>
        <tr th:each="game: ${games}">
            <td th:text="${game.title}"/>
            <td th:text="${game.note}">/20</td>
            <td th:text="${game.commentaire}"/>
            <td th:text="${game.genre}"/>
            <td><a type="button" class="btn btn-secondary" th:href="'/game/edit?id=' + ${game.id}">éditer</a></td>
            <td><a type="button" class="btn btn-secondary" th:href="'/game/delete?id=' + ${game.id}">supprimer</a></td>
        </tr>
    </tbody>
</table>

    <span th:text="${paging}" />

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li th:class="${currentPage eq 0}? 'page-item disabled' : 'page-item' "> <!--class="page-item" -->
                <a class="page-link" th:if="${currentPage > 0}" th:href="'/game/page?page=' + ${currentPage - 1} + '/'" >Previous</a> <!-- th:if="${currentPage eq 0}" -->
            </li>
            <li th:class="${currentPage eq 0}? 'page-item active' : 'page-item' "><a class="page-link" th:href="'/game/page/0/'">1</a></li>
            <li th:class="${currentPage eq 1}? 'page-item active' : 'page-item' "><a class="page-link" th:href="'/game/page/1/'">2</a></li>
            <li th:class="${currentPage eq 2}? 'page-item active' : 'page-item' "><a class="page-link" th:href="'/game/page/2/'" >3</a></li>
            <li th:class="${currentPage eq 3}? 'page-item active' : 'page-item' "><a class="page-link" th:href="'/game/page/3/'">4</a></li>
            <li th:class="${currentPage eq 4}? 'page-item active' : 'page-item' "><a class="page-link" th:href="'/game/page/4/'">5</a></li>
            <li th:class="${currentPage eq 5}? 'page-item active' : 'page-item' "><a class="page-link" th:href="'/game/page/5/'">6</a></li>
            <li class="page-item">
                <a class="page-link" th:href="'/game/page?page=' + ${currentPage + 1} + '/'">Next</a>
            </li>
        </ul>
    </nav>

    <h2 class="h3 mb-3 font-weight-normal justify-content-center">Rechercher un jeu :</h2>

    <form class="form-signin" name="request" action="/game/search" method="post">
    <div class="form-label-group">
        <input type="text"  class="form-control" name="request" required autofocus/>
    </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Rehcercher</button>
    </form>

</body>


</html>