<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Créer un groupe</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/floating-labels.css}">
  </head>

  <body>
  <!-- FORMULAIRE : -->
  <form class="form" name="request" action="/groupe/new" method="post">
    <label for="inputNomGroupe"><strong>Créer un groupe :</strong></label>
    <br/>
    <input type="text" id="inputNomGroupe" class="form-control" name="nom" required autofocus/>
    <button class="btn btn-sm btn-outline-secondary" type="submit">Valider</button>
</form>
</body>
</html>