<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=" http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GameEvent - Groupe accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" th:href="@{/css/user-accueil.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <img src="/images/logo_small.png" alt="logo_GameEvent">
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/user/accueil" class="gry_btn">Revenir à ma page utilisateur</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="get">
                        <a href="/accueil" class="gry_btn">Déconnection</a>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container_info">
            <div class="btn_user">               
                    <img class="img" alt="Aucune photo de profil" th:src="'/images/profil/' + ${userConnected.uuid} + '.jpg'"/>                
                <span class="txt_btn_name" th:text="${userConnected.login}"></span>
            </div>
            <div class="btn_user">
                <a th:href="'/file/upload/groupe?id=' + ${groupe.uuid}" title="Changer la photo du groupe">
                    <img class="img" alt="Aucune photo de groupe" th:src="'/images/groupe/' + ${groupe.uuid} + '.jpg'"/>
                </a> 
                <span class="txt_btn_name" th:text="${groupe.nom}"></span>
            </div>
        </div>    

    <div class="big-container">


        <div class="dialog" id="dialog_event" title="Basic dialog">
            <form action="" method="POST">
                <h1>Créer un event (plannifier une partie de jeu)</h1>
                <input type="hidden" name="groupeId" th:value="${groupe.uuid}">
                <input type="hidden" name="userId" th:value="${userConnected.uuid}">
                <div class="form-item">
                    <label for="titre">Titre de votre Event</label>
                    <input type="text" id="titre" name="titre" required>
                </div>
                <div class="form-item">
                    <label for="description">Description de votre Event</label>
                    <input type="text" id="description" name="description" required>
                </div>
                <div class="form-item">
                    <label for="date">Date et heure de votre Event</label>
                    <input type="datetime-local" id="date" name="date" required>
                </div>
                <button class="btn_new_event" type="submit">Envoyer</button>
            </form>
        </div>


        <div class="container">
            <div class="new_groupe">
                <input id="toggle" type="checkbox">
                <label class="btn_new_groupe" for="toggle">Ajouter un amis</label>       
                    <form id="expand" name="request" action="/groupe/user/new" method="post">    
                        <input type="hidden" class="form-control" name="uuid" th:value="${groupe.uuid}">           
                        <input id="expand" class="input_groupe" type="text" name="login" required autofocus/>
                        <button class="btn_groupe" type="submit">Inviter</button>
                    </form>
            </div>
            <div class="alert" th:if="${messageInvitation}" role="alert">
                <h2 th:text="${messageInvitation}"/>
            </div>
            <div class="card_groupe"> 
                <div class="box_groupe" th:each="user : ${groupe.users}">
                    <img class="img_groupe" alt="Aucune photo de profil" th:src="'/images/profil/' + ${user.uuid} + '.jpg'"/> 
                            <p class="txt_btn" th:text="${user.login}"/>   
                        <i class="icon fa fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="container_game">    
            <div class="card_game_commu">
                <h2 class="txt_game_commu">Jeux de la communauté :</h2>
                <div class="box_game">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><a class="txt_btn_table" href="/game/tri?colonne=titre">Titre</a></th>
                                <th scope="col"><a class="txt_btn_table" href="/game/tri?colonne=genre">Genre</a></th>
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <th scope="col">Actions</th>
                                </div>
                            </tr>
            
                        </thead>
                        <tbody>
                            <tr th:each="game: ${games}">
                                <td class="h6" th:text="${game.titre}" />
                                <td th:text="${game.genre}" />
            
                                <td>
                                    <!-- <div><a type="button" class="txt_btn_table"
                                        th:href="'/game/add?id=' + ${game.id}">ajouter aux jeux du groupe</a></div> -->
                                    <div><a type="button" id="opener" class="txt_btn_table">Créer un event pour ce jeux</a></div> <!-- th:href="'/game/newEvent?id=' + ${game.id}" -->

                                    <!-- <div sec:authorize="hasAuthority('ADMIN')"><a type="button" class="txt_btn_table"
                                            th:href="'/game/admin/edit?id=' + ${game.id}">éditer</a></div>
                                    <div sec:authorize="hasAuthority('ADMIN')"><a type="button" class="txt_btn_table"
                                            th:href="'/game/admin/delete?id=' + ${game.id}">supprimer</a></div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="nav_page">
                    <ul>           
                        <li th:class="${currentPage eq 0}? 'page-item disabled' : 'page-item' "> <!--class="page-item" -->
                            <a th:if="${currentPage > 0}" th:href="'/user/accueil/page?page=' + (${currentPage } - 1)" >Previous</a> <!-- th:if="${currentPage eq 0}" -->
                        </li>
                        <li ><a th:class="${currentPage eq 0}? 'page-item'" th:href="'/user/accueil/page?page=0'">1</a></li>
                        <li ><a th:class="${currentPage eq 1}? 'page-item'" th:href="'/user/accueil/page?page=1'">2</a></li>
                        <li ><a th:class="${currentPage eq 2}? 'page-item'" th:href="'/user/accueil/page?page=2'" >3</a></li>
                        <li ><a th:class="${currentPage eq 3}? 'page-item'" th:href="'/user/accueil/page?page=3'">4</a></li>
                        <li ><a th:class="${currentPage eq 4}? 'page-item'" th:href="'/user/accueil/page?page=4'">5</a></li>
                        <li>
                            <a th:if="((${currentPage} + 1) < ${totalPage})" th:href="'/user/accueil/page?page=' + (${currentPage} + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="form_search">
                    <form class="form" name="request" action="/game/search" method="post">                       
                            <label class="label_search">Rechercher : </label>
                            <input class="form-control" type="text" name="texte">

                            <input class="check-input" type="checkbox" name="rechercheParTitre" id="flexCheckDefault">
                            <label class="check-label" for="flexCheckDefault">Titre</label>
                        
                            <input class="check-input" type="checkbox" name="rechercheParGenre" id="flexCheckDefault2">
                            <label class="check-label" for="flexCheckDefault2">Genre</label>

                        <button class="btn_search" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- <div><button class="btn_new_event">Créer un Event</button></div> -->
            <div class="card_event">
                <div class="box_event">
                    <div class="content">
                        <a class="txt_btn" href="#">Event 1</a>
                        <p class="txt">Date</p>
                    </div>
                    <i class="icon_event fa fa-bars"></i>
                </div>
                <div class="box_event">
                    <div class="content">
                        <a class="txt_btn" href="#">Event 2</a>
                        <p class="txt">Date</p>
                    </div>
                    <i class="icon_event fa fa-bars"></i>
                </div>               
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/user-accueil.js"></script>  
    <script src="/js/groupe-accueil.js"></script> 
</body>
</html>