<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=" http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GameEvent - User accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/user-accueil.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <img src="/images/logo_small.png" alt="logo_GameEvent">
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/login" class="gry_btn">Connection</a>
                </li>
                <li>
                    <a href="/Signin" class="gry_btn">Inscription</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="get">
                        <a href="/accueil" class="gry_btn">Déconnection</a>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="big-container">
        <div class="container">
            <div class="new_groupe">
                <input id="toggle" type="checkbox">
                <label class="btn_new_groupe" for="toggle">Créer un groupe</label>       
                    <form id="expand" name="request" action="/groupe/new" method="post">               
                        <input id="expand" class="input_groupe" type="text" name="nom" required autofocus/>
                        <button class="btn_groupe" type="submit">Valider</button>
                    </form>
            </div>
            <div class="card_groupe"> 
                <div class="box_groupe" th:each="groupe : ${groupes}">
                    <img class="img_groupe" alt="Aucune photo de profil" th:src="'/images/groupe/' + ${groupe.uuid} + '.jpg'"/>
                        <a class="txt_btn" th:href="'/groupe/accueil?id=' + ${groupe.uuid}"> 
                            <p class="txt_btn" th:text="${groupe.nom}"></p> 
                        </a> 
                        <i class="icon fa fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="container_game">
            <div class="btn_user">
                <a href="/file/upload/user" title="Changer de photo de profil"> 
                    <img class="img" alt="Aucune photo de profil" th:src="'/images/profil/' + ${userConnected.uuid} + '.jpg'"/>
                </a>
                <span class="txt_btn_name" th:text="${userConnected.login}"></span>
            </div>

            <div class="card_game_user">
                <h2 class="txt_game_user">Vos jeux :</h2>
                <div class="box_game">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><a class="txt_btn_table" href="/game/tri?colonne=titre">Titre</a></th> 
                                <th scope="col"><a class="txt_btn_table" href="/game/tri?colonne=genre">Genre</a></th> 
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <th scope="col">Actions</th>
                                </div>
                            </tr>
            
                        </thead>
                        <tbody>
                            <tr th:each="gameUser: ${gamesUser}">
                                <td class="h6" th:text="${gameUser.titre}" />
                                <td th:text="${gameUser.genre}" />
            
                                <td>
                                    <div><a type="button" class="txt_btn_table"
                                        th:href="'/game/manage?id=' + ${gameUser.id}">Gérer ce jeux /</a>                               
                                        <a type="button" class="txt_btn_table"
                                        th:href="'/game/delete?id=' + ${gameUser.id}"> Retirer ce jeux</a>
                                    </div>
                                    <!-- <div sec:authorize="hasAuthority('ADMIN')"><a type="button" class="txt_btn_table"
                                            th:href="'/game/admin/edit?id=' + ${game.id}">éditer</a></div>
                                    <div sec:authorize="hasAuthority('ADMIN')"><a type="button" class="txt_btn_table"
                                            th:href="'/game/admin/delete?id=' + ${game.id}">supprimer</a></div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="nav_page">
                    <ul>           
                        <li th:class="${currentPage eq 0}? 'page-item disabled' : 'page-item' "> 
                            <a th:if="${currentPage > 0}" th:href="'/user/accueil/page?page=' + (${currentPage } - 1)" >Previous</a> 
                        </li>
                        <li ><a th:class="${currentPage eq 0}? 'page-item'" th:href="'/user/accueil/page?page=0'">1</a></li>
                        <li ><a th:class="${currentPage eq 1}? 'page-item'" th:href="'/user/accueil/page?page=1'">2</a></li>
                        <li ><a th:class="${currentPage eq 2}? 'page-item'" th:href="'/user/accueil/page?page=2'" >3</a></li>
                        <li ><a th:class="${currentPage eq 3}? 'page-item'" th:href="'/user/accueil/page?page=3'">4</a></li>
                        <li ><a th:class="${currentPage eq 4}? 'page-item'" th:href="'/user/accueil/page?page=4'">5</a></li>
                        <li>
                            <a th:if="((${currentPage} + 1) < ${totalPageGameUser})" th:href="'/user/accueil/page?page=' + (${currentPage} + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- <div class="form_search">
                    <form class="form" name="request" action="/game/search" method="post">
                            <label class="label_search">Rechercher : </label>
                            <input class="form-control" type="text" name="texte">

                            <input class="check-input" type="checkbox" name="rechercheParTitre" id="flexCheckDefault">
                            <label class="check-label" for="flexCheckDefault">Titre</label>
                        
                            <input class="check-input" type="checkbox" name="rechercheParGenre" id="flexCheckDefault2">
                            <label class="check-label" for="flexCheckDefault2">Genre</label>
                            
                        <button class="btn_search" type="submit">Rechercher</button>
                    </form>
                </div>  -->
            </div>

            <div class="card_game_commu">
                <h2 class="txt_game_commu">Jeux de la communauté :</h2>
                <div class="box_game">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><a class="txt_btn_table" href="/game/tri?colonne=titre">Titre</a></th>
                                <th scope="col"><a class="txt_btn_table" href="/game/tri?colonne=genre">Genre</a></th>
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <th scope="col">Actions</th>
                                </div>
                            </tr>
            
                        </thead>
                        <tbody>
                            <tr th:each="game: ${games}">
                                <td class="h6" th:text="${game.titre}" />
                                <td th:text="${game.genre}" />
            
                                <td>
                                    <div><a type="button" class="txt_btn_table"
                                        th:href="'/game/add?id=' + ${game.id}">Ajouter à mes jeux</a></div>
                                    <!-- <div sec:authorize="hasAuthority('ADMIN')"><a type="button" class="txt_btn_table"
                                            th:href="'/game/admin/edit?id=' + ${game.id}">éditer</a></div>
                                    <div sec:authorize="hasAuthority('ADMIN')"><a type="button" class="txt_btn_table"
                                            th:href="'/game/admin/delete?id=' + ${game.id}">supprimer</a></div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="nav_page">
                    <ul>           
                        <li th:class="${currentPage eq 0}? 'page-item disabled' : 'page-item' "> <!--class="page-item" -->
                            <a th:if="${currentPage > 0}" th:href="'/user/accueil/page?page=' + (${currentPage } - 1)" >Previous</a> <!-- th:if="${currentPage eq 0}" -->
                        </li>
                        <li ><a th:class="${currentPage eq 0}? 'page-item'" th:href="'/user/accueil/page?page=0'">1</a></li>
                        <li ><a th:class="${currentPage eq 1}? 'page-item'" th:href="'/user/accueil/page?page=1'">2</a></li>
                        <li ><a th:class="${currentPage eq 2}? 'page-item'" th:href="'/user/accueil/page?page=2'" >3</a></li>
                        <li ><a th:class="${currentPage eq 3}? 'page-item'" th:href="'/user/accueil/page?page=3'">4</a></li>
                        <li ><a th:class="${currentPage eq 4}? 'page-item'" th:href="'/user/accueil/page?page=4'">5</a></li>
                        <li>
                            <a th:if="((${currentPage} + 1) < ${totalPage})" th:href="'/user/accueil/page?page=' + (${currentPage} + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="form_search">
                    <form class="form" name="request" action="/game/search" method="post">
                            <label class="label_search">Rechercher : </label>
                            <input class="form-control" type="text" name="texte">

                            <input class="check-input" type="checkbox" name="rechercheParTitre" id="flexCheckDefault">
                            <label class="check-label" for="flexCheckDefault">Titre</label>
                        
                            <input class="check-input" type="checkbox" name="rechercheParGenre" id="flexCheckDefault2">
                            <label class="check-label" for="flexCheckDefault2">Genre</label>
                            
                        <button class="btn_search" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card_event">
                <div class="box_event">
                    <div class="content">
                        <a class="txt_btn" href="#">Event 1</a>
                        <p class="txt">Groupe 1</p>
                    </div>
                    <i class="icon_event fa fa-bars"></i>
                </div>
                <div class="box_event">
                    <div class="content">
                        <a class="txt_btn" href="#">Event 2</a>
                        <p class="txt">Groupe 1</p>
                    </div>
                    <i class="icon_event fa fa-bars"></i>
                </div>
                <div class="box_event">
                    <div class="content">
                        <a class="txt_btn" href="#">Event 1</a>
                        <p class="txt">Groupe 2</p>
                    </div>
                    <i class="icon_event fa fa-bars"></i>
                </div>
                <div class="box_event">
                    <div class="content">
                        <a class="txt_btn" href="#">Event 2</a>
                        <p class="txt">Groupe 2</p>
                    </div>
                    <i class="icon_event fa fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
    <script src="/js/user-accueil.js"></script>  
</body>
</html>